.photo-profile {
    .photo-background {
        background: url("./assets/photo.jpg") no-repeat center;
        background-size: cover;
        height: 700px;
        width: 400px;
        border-radius: 15px;
    }
}