.photo-profile {
    .photo-background {
        background: url("./assets/photo.jpg") no-repeat center;
        background-size: cover;
        height: 500px;
        width: 300px;
        border-radius: 15px;
    }
}